@inject NewsLetterSubscriberService NewsSvc
@inject IToastService toastService
<footer class="sticky-footer">
    <section class="section-padding footer-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="footer-logo mb-4"><a class="logo" href="/"><img alt="" src="img/logo.png" class="img-fluid"></a></div>
                    <p>Jl Melati 22A Taman Cimanggu Bogor 16710</p>
                    <p class="mb-0"><a href="#" class="text-dark"><i class="fas fa-mobile fa-fw"></i> +62 0812-1996-4496</a></p>
                    <p class="mb-0"><a href="#" class="text-dark"><i class="fas fa-envelope fa-fw"></i> layartancep@gmail.com</a></p>
                    <p class="mb-0"><a href="#" class="text-dark"><i class="fas fa-globe fa-fw"></i> studios.gravicode.com</a></p>
                </div>
                <div class="col-lg-2 col-md-2">
                    <h6 class="mb-4">Perusahaan</h6>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Legal</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2">
                    <h6 class="mb-4">Fitur</h6>
                    <ul>
                        <li><a href="#">Retention</a></li>
                        <li><a href="#">People</a></li>
                        <li><a href="#">Messages</a></li>
                        <li><a href="#">Infrastructure</a></li>
                        <li><a href="#">Platform</a></li>
                        <li><a href="#">Funnels</a></li>
                        <li><a href="#">Live</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2">
                    <h6 class="mb-4">Solusi</h6>
                    <ul>
                        <li><a href="#">Enterprise</a></li>
                        <li><a href="#">Financial Services</a></li>
                        <li><a href="#">Consumer Tech</a></li>
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Analytics</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h6 class="mb-4">NEWSLETTER</h6>
                    <div class="input-group">
                        <input type="email" @bind="NewEmail" class="form-control" placeholder="Alamat Email...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" @onclick="Submit" type="button"><i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <small>ikuti terus update informasi dari tim kami..</small>
                    <h6 class="mb-2 mt-4">DOWNLOAD APP</h6>
                    <div class="app">
                        <a href="#"><img alt="" src="img/google.png"></a>
                        <a href="#"><img alt="" src="img/apple.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</footer>
@code {
    string NewEmail = string.Empty;
    public int Tahun { set; get; } = DateHelper.GetLocalTimeNow().Year;

    async Task Submit()
    {
        if (string.IsNullOrEmpty(NewEmail)) return;
        if (NewsSvc.IsExist(NewEmail))
        {
             toastService.ShowInfo("Anda sudah subscribe ke news letter kami.");
        }
        else
        {
            var newItem = new NewsLetterSubscriber() { CreatedDate = DateHelper.GetLocalTimeNow(), Email = NewEmail };
            var res = NewsSvc.InsertData(newItem);
            if (res)
            {
                 toastService.ShowInfo("Subscribe berhasil.");
            }
            else
            {
                 toastService.ShowInfo("Subscribe gagal.");
            }
        }
    }
}
