@using LayarTancep.Data
@using LayarTancep.Tools
@layout NoAuthLayout
@inject IJSRuntime IJS
@page "/forgot-password"
@inject IToastService toastService
<section class="login-main-wrapper">
    <div class="container-fluid pl-0 pr-0">
        <div class="row no-gutters">
            <div class="col-md-5 p-5 bg-white full-height">
                <div class="login-main-left">
                    <div class="text-center mb-5 login-main-left-header pt-4">
                        <img src="img/favicon.png" class="img-fluid" alt="LOGO">
                        <h5 class="mt-3 mb-3">Reset Password</h5>
                        <p>Isi email atau no telepon kamu.</p>
                    </div>
                    <div >
                        <div class="form-group">
                            <label>Masukan Email</label>
                            <input type="text" class="form-control" @bind="Email" placeholder="Isi Email">
                        </div>
                        <div class="form-group">
                            <label>No Telepon</label>
                            <input type="text" class="form-control" @bind="Phone"  placeholder="Isi no telepon">
                        </div>
                        <div class="mt-4">
                            <button type="button" @onclick="KirimPassword" class="btn btn-outline-primary btn-block btn-lg">Kirim Password</button>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <p class="light-gray">Ga punya akun? <a href="register">Daftar</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="login-main-right bg-white p-5 mt-5 mb-5">
                    <div class="owl-carousel owl-carousel-login">
                        <div class="item">
                            <div class="carousel-login-card text-center">
                                <img src="img/login.png" class="img-fluid" alt="LOGO">
                                <h5 class="mt-5 mb-3">​Berbagi video bermanfaat</h5>
                                <p class="mb-4">Salah satu media yang menarik banyak orang adalah video<br> berbagi manfaat dan tebarkan kebaikan <br>untuk sesama</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-login-card text-center">
                                <img src="img/login.png" class="img-fluid" alt="LOGO">
                                <h5 class="mt-5 mb-3">Subscribe channel favorit kamu</h5>
                                <p class="mb-4">Temukan genre video yang kamu suka<br> jangan berhenti sampai disini. <br>bikinlah video kreativitas kamu juga.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-login-card text-center">
                                <img src="img/login.png" class="img-fluid" alt="LOGO">
                                <h5 class="mt-5 mb-3">Nikmati video non-stop tanpa iklan</h5>
                                <p class="mb-4">Mabok iklan di youtube ?<br> disini kita ga cari uang seperti mereka <br>kita pengen kamu bahagia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    public string Phone { get; set; }
    public string Email { get; set; }
    async Task Tutup()
    {
        await IJS.InvokeVoidAsync("CloseModal", "forgetModal");
    }
    async Task KirimPassword()
    {
        bool IsSuccess = false;
        UserProfileService svc = new UserProfileService();
        var enc = new Encryption();
        string Error = string.Empty;

        if (string.IsNullOrEmpty(Email) && string.IsNullOrEmpty(Phone))
        {
            toastService.ShowError("Email atau no hp harus di isi.");
            return;
        }
        if (!string.IsNullOrEmpty(Email))
        {
            var item = svc.GetItemByEmail(Email);
            if (item != null)
            {
                var pass = enc.Decrypt(item.Password);
                await MailService.PostmarkSendEmail("Portal-UB - Forget Password", $"Password Anda adalah {pass}", Email, false);
                toastService.ShowSuccess("Info password sudah di kirim ke email Anda");
                IsSuccess = true;
            }
            else
            {
                toastService.ShowError("Email tidak terdaftar.");
            }
        }

        if (!string.IsNullOrEmpty(Phone))
        {
            var item = svc.GetItemByPhone(Phone);
            if (item != null)
            {
                var pass = enc.Decrypt(item.Password);

                await SmsService.SendSms($"[Portal-UB] -> Password Anda adalah {pass}", item.Phone);
                toastService.ShowSuccess("Info password sudah di kirim ke hp Anda");
                IsSuccess = true;

            }
            else
            {
                toastService.ShowError("No HP tidak terdaftar.");
            }
        }

    }
}
