@using Microsoft.AspNetCore.Components.Web
@namespace LayarTancep.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="LayarTancep - Tempat sharing video yang asyik dan bermanfaat">
    <meta name="author" content="Fadhil">
    <meta charset="utf-8" />
    <title>LayarTancep - Tempat sharing video yang asyik dan bermanfaat</title>
    <meta name="keywords" content="video, tutorial, edukasi, hiburan, belajar, berbagi informasi" />

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="img/favicon.png">
    <base href="~/" />

    <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />
    <link href="/manifest.json" rel="manifest" />
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/osahan.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

</head>
<body id="page-top">

    @RenderBody()

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Owl Carousel -->
    <script src="vendor/owl-carousel/owl.carousel.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/custom.js"></script>

    <script type="module" src="js/webcam.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA==" crossorigin="anonymous"></script>
    <script type="module" src="js/capture.js"></script>

    <script src="js/downloadfile.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <!-- This is the glue between Blazor and Chart.js -->
    <script src="_content/ChartJs.Blazor.Fork/ChartJsBlazorInterop.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpqcgMnKf1TnQPRQKNmlnUgqh_EI0t_Iw&v=3"></script>
    <script src="_content/BlazorGoogleMaps/objectManager.js"></script>

    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
    <!-- Page level custom scripts -->

    <script>
        function OpenFileUpload(uploadid) {

            $('#' + uploadid + ':hidden').trigger('click');
        }
        function OpenUrl(url) {
            window.location = url;
        }
        function ShowModal(modalId) {
            $('#' + modalId).modal('show');
        }
        function CloseModal(modalId) {
            $('#' + modalId).modal('hide');
        }
        function ShowInfo(message) {
            alert(message);
        }
        //for grid pager
        function fixGridView(tableEl) {
            var jTbl = $(tableEl);

            if (jTbl.find("tbody>tr>th").length > 0) {
                jTbl.find("tbody").before("<thead><tr></tr></thead>");
                jTbl.find("thead tr").append(jTbl.find("th"));
                jTbl.find("tbody tr:first").remove();
            }
        }
        function applyPager(tableName) {

            var tab = $("#" + tableName);
            if (tab) {
                $('#' + tableName).DataTable();
            }
        }
        function TestDataTablesAdd(table) {
            $(document).ready(function () {
                $(table).DataTable();
            });
        }

        function TestDataTablesRemove(table) {
            $(document).ready(function () {
                $(table).DataTable().destroy();
            });
        }

        function FreezeTableHeader(table) {
            $(".table_container").scroll(function () {
                var topPosition = $(".table_container").scrollTop();
                $(table + " thead tr th").css({ "top": (topPosition) });
            });
        }
        //gps location
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(showPosition);
                return "Success";
            } else {
                return "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            console.log("Latitude: " + position.coords.latitude +
                ", Longitude: " + position.coords.longitude);
            DotNet.invokeMethodAsync('LayarTancep', 'UpdateLocationCaller', position.coords.latitude, position.coords.longitude);
        }
        var getBodyElement = function () {
            return document.getElementsByTagName("body")[0];
        }

        function addCssClassToBody(cssClass) {
            var body = getBodyElement();

            if (!body.classList.contains(cssClass)) {
                body.classList.add(cssClass);
            }
        }


        function setLanguageOfBody(language) {
            var body = getBodyElement();
            body.lang = language;
        }

        function setTextDirectionOfBody(direction) {
            var body = getBodyElement();
            body.dir = direction;
        }</script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
